<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body{
        background-color:gray;
    }
    h1{
        color: azure;
    }
     ul li{
         list-style-type: none;
         display: inline-block;
         padding: 3px;
     }
    ul a{
        text-decoration: none;
        font-family: Monospace;
        font-size: 1.5em;
        color: azure;
        border-bottom: 2px transparent;
        transition: all .3s ease;



    }
    ul a:hover{
        color: black;
        border-bottom: 2px solid black;
    }
</style>
<body>
    <h1>Welcome to my project</h1>
    <ul>
        <li><a href="http://127.0.0.1:8000/teacher/">Teacher</a></li>
        <li><a href="http://127.0.0.1:8000/student">Student</a></li>
        <li><a href="http://127.0.0.1:8000/course">Courses</a></li>

    </ul>
</body>
</html>